
* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.activeBtn {
    color: white;
    background-color: #1e293b;
}
@media print {
    #hide {
        display: none;
    }
    #page, #header-page{
        width: 100%;
        border: none;
        margin: 0;
    }
    table {
        box-shadow: none;
    }
}